@import url('../css/reset.css');

.s-wrapper {
    display: flex;
    height: 100vh;
    flex-flow: row nowrap;
}

.s-wrapper .s-left-column {
    width: 6.25rem;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-wrapper .s-main-content {
    height: 100%;
    width: 100%;
    background-color: #808080;
    padding-left: 1.8rem;
}

.navigator {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;   
}

.navigator ul li {
    margin: 3.5rem 0;
}

.navigator ul li:first-child {
    margin-top: 0;
}

.navigator ul li:last-child {
    margin-bottom: 0;
}