@import url('../css/reset.css');
@import url('../css/global.css');
@import url('components/_navigator.css');

.s-wrapper {
    display: flex;
    height: 100vh;
    flex-flow: row nowrap;
}

.s-wrapper .s-left-column {
    width: 6.25rem;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-wrapper .s-main-content {
    height: 100%;
    width: 100%;
    background-color: #808080;
    padding-left: 1.8rem;
}

