.pills ul {
    display: flex;
    flex-direction: row;
}

.pills ul li {
    background-color: var(--primary-color);
    color: #fff;
    padding: .33rem 1rem;
    margin: 0 .6rem;
    border-radius: 1.4rem;
    text-transform: uppercase;
}

.pills ul li:first-child {
    margin-left: 0;
}